<!-- jquery
		============================================ -->
        <script src="{{url_for('static', filename ='js/vendor/jquery-1.12.4.min.js')}}"></script>
        <!-- bootstrap JS
            ============================================ -->
        <script src="{{url_for('static', filename ='js/bootstrap.min.js')}}"></script>
        <!-- wow JS
            ============================================ -->
        <script src="{{url_for('static', filename ='js/wow.min.js')}}"></script>
        <!-- bootstrap select JS
		============================================ -->
        <script src="{{url_for('static', filename ='js/bootstrap-select/bootstrap-select.js')}}"></script>
        <!-- scrollUp JS
            ============================================ -->
        <script src="{{url_for('static', filename ='js/jquery.scrollUp.min.js')}}"></script>
        <!-- meanmenu JS
            ============================================ -->
        <script src="{{url_for('static', filename ='js/meanmenu/jquery.meanmenu.js')}}"></script>
        <!-- mCustomScrollbar JS
            ============================================ -->
        <script src="{{url_for('static', filename ='js/scrollbar/jquery.mCustomScrollbar.concat.min.js')}}"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="{{url_for('static', filename ='js/sparkline/jquery.sparkline.min.js')}}"></script>
        <script src="{{url_for('static', filename ='js/sparkline/sparkline-active.js')}}"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="{{url_for('static', filename ='js/flot/jquery.flot.js')}}"></script>
        <script src="{{url_for('static', filename ='js/flot/jquery.flot.resize.js')}}"></script>
        <script src="{{url_for('static', filename ='js/flot/curvedLines.js')}}"></script>
        <script src="{{url_for('static', filename ='js/flot/flot-active.js')}}"></script>
        <!-- knob JS
            ============================================ -->
        <script src="{{url_for('static', filename ='js/knob/jquery.knob.js')}}"></script>
        <script src="{{url_for('static', filename ='js/knob/jquery.appear.j')}}s"></script>
        <script src="{{url_for('static', filename ='js/knob/knob-active.js')}}"></script>
         <!-- icheck JS
		============================================ -->
        <script src="{{url_for('static', filename ='js/icheck/icheck.min.js')}}"></script>
        <script src="{{url_for('static', filename ='js/icheck/icheck-active.js')}}"></script>
        <!--  wave JS
            ============================================ -->
            
        <script src="{{url_for('static', filename ='js/wave/waves.min.js')}}"></script>
        <script src="{{url_for('static', filename ='js/wave/wave-active.js')}}"></script>
        <!-- plugins JS
            ============================================ -->
        <script src="{{url_for('static', filename ='js/plugins.js')}}"></script>
         <!-- Charts JS
		============================================ -->
        <script src="{{url_for('static', filename ='js/charts/Chart.js')}}"></script>
        {# <script src="{{url_for('static', filename ='js/charts/line-chart.js')}}"></script> #}
        <!-- main JS
            ============================================ -->
        <script src="{{url_for('static', filename ='js/main.js')}}"></script>
    